<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div align="center" id="login">
    <form action="" method="post">
        <label>Email Address</label><br>
        <input name="email" type="email" placeholder="Write your email address"><br><br>
        <label>Password</label><br>
        <input name="password" type="password" placeholder="Write your Password"><br><br>
        <input type="submit" value="LOGIN"><br><br>
    </form>
</div>
<div align="center" id="register">
    <form action="/new">
        <label>New Here?</label>
        <input value="Register" type="submit">
    </form>
</div>

</body>
</html>