<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<div>
    <form method="post">
        <label>Email Address</label><br>
        <input name="email" type="email" placeholder="Write your email address"><br><br>
        <label>First Name</label><br>
        <input name="firstName" placeholder="Write your first name"><br><br>
        <label>Middle Name</label><br>
        <input name="middleName" placeholder="Write your middle name"><br><br>
        <label>Last Name</label><br>
        <input name="lastName" placeholder="Write your last name"><br><br>
        <label>IATA</label><br>
        <input name="IATA" placeholder="Introduce the IATA of your convinient Airport"><br><br>
        <label>Password</label><br>
        <input name="password" type="password" placeholder="Write your Password"><br><br>

        <input type="submit" value="CREATE ACCOUNT"><br><br>
    </form>
</div>
</body>
</html>